{
    "DockPanel": {
        "ClientArea": "\n                QWidget {\n                    background: #dcdfe8;\n                    border: 0px solid #505050;\n                    border-radius: 4px;\n                }\n            ",
        "Clients": "\n                    QPushButton {\n                        background: #dcdfe8;\n                        border: 0px solid #505050;\n                        border-radius: 4px;\n                    }\n                    QPushButton:hover { \n                        background: #c9cdd4;\n                    }\n                    QMenu  {\n                        color: #ffffff;\n                        background: #404040;\n                    }\n                    QMenu:hover  {\n                        color: #000000;\n                    }\n                           ",
        "Overview": "\n            QPushButton {\n                background: #dcdfe8;\n                border: 0px solid #505050;\n                border-radius: 4px;\n                color: black;\n                font-size: 12px;\n            }\n            QPushButton:hover { \n                background: #c9cdd4;\n            } \n            QMainWindow {\n                background: #dcdfe8;\n            } \n        ",
        "IconPath": "/usr/share/NikoruDE/Other/Themes/Daylight/Nikoru/Dock"
    }
}